@(needForm: Form[NeedItem])

@import helper._
@import helper.twitterBootstrap._

@title = { Need Form }


<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
    	<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    	<script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
<script>
	$(function() {
		$( "#datepicker" ).datepicker();
	});
</script>
    </head>
    <body>
       @helper.form(action = routes.NeedForm.submit) {
        
        <fieldset>
            <legend>Add need request</legend>
            
            @inputText(
                needForm("name"), 
                '_label -> "Title", 
                '_help -> "Example: I need a TV.",
                '_error -> needForm.globalError
            )
            
             @inputText(
                needForm("description"), 
                '_label -> "Description", 
                '_help -> "Example: max 81cm.",
                '_error -> needForm.globalError
            )
            
            @inputText(
                needForm("location"), 
                '_label -> "Location", 
                '_error -> needForm.globalError
            )
			
			@inputText(
                needForm("endDate"),
                '_label -> "Date",
                '_help -> " please give a date in the future",
                'id -> "datepicker",
                '_error -> needForm.globalError
            )
            
            @inputText(
                needForm("email"), '_label -> "Email",
                '_help -> "Enter a valid email address."
            )
            
              @inputText(
                needForm("phone"), 
                '_label -> "Phone", 
                '_error -> needForm.globalError
            )
            
			  @inputRadioGroup(
          		needForm("type"),
          		options = options("PAID"->"Yes","FREE"->"No"),
          		'_label -> "Willing to pay?",
          		'_error -> needForm("gender").error.map(_.withMessage("select gender"))
            )
                
        </fieldset>
        
        <div class="actions">
            <input type="submit" class="btn primary" value="I need help">
            <a href="@routes.Application.index" class="btn">Cancel</a>
        </div>
        
    }
  
    </body>
</html>

