@(currentPage: models.Page[NeedItem], currentSortBy: String, currentOrder: String, currentFilter: String, page2:models.Page[GiveItem])

@main("We Help") {
<div id="topPanel">
  <div id="headerPanelfast">

    <a href="@routes.NeedForm.blank()">&nbsp;</a></div>
  		<div id="headerPanelthird">
    <a href="@routes.GiveForm.blank()">&nbsp;</a></div>
</div>
<div id="bodyPanel">

    <div id="helpLists">
  <div id="needList">
  <h3>...were needed </h3>
    <ul>
    	@for(need<- currentPage.getList) {
                    <li>
                            <b>@need.getName</b><br/>
                            @if(need.getType.name == "PAID") {
                            	I am willing to pay.<br/>
                            }
                            Contact me at: <a href="mailto:@need.getEmail?Subject=RE: @need.getName">@need.getEmail</a>
                            @if(need.getPhone != null && !need.getPhone.isEmpty) {
                                 or phone me: @need.getPhone
                            }
                            .<br/>
                            @if(need.getDescription != null && !need.getDescription.isEmpty) {
                            	Additional info: @need.getDescription
                            }
                     </li>
                }
    
    </ul>
  </div>
  <div id="giveList" >
  
  <h3>...were received </h4>
  	<ul>
    	@for(need<- page2.getList) {
                    <li>
                            <b>@need.getName</b><br/>
                            @if(need.getType.name == "PAID") {
                            	I am willing to pay.<br/>
                            }
                            Contact me at: <a href="mailto:@need.getEmail?Subject=RE: @need.getName">@need.getEmail</a>
                            @if(need.getPhone != null && !need.getPhone.isEmpty) {
                                 or phone me: @need.getPhone
                            }
                            .<br/>
                            @if(need.getDescription != null && !need.getDescription.isEmpty) {
                            	Additional info: @need.getDescription
                            }
                     </li>
                }
    </ul>
  </div>
</div>
</div>
    
}
